body {
  max-width: 1440px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header #title {
  margin-bottom: 0;
}

@media (max-width: 1250px) {
  body {
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;
  }

  header {
    grid-row: 2;
  }

  main {
    grid-row: 1;
  }
}
